header nav {
    background-color: #feffde ;
}

header h1{

    background-color:#ddffbc ;
}


footer{

    background-color:#52734d ;
}

#unique{
    background-color: #91c788;
}

#benifits p{
    background-color: #ddffbc;
}